.about{
    text-align: center;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.services{
    text-align: center;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.portfolio img{
    text-align: center;
  -ms-grid-column-align: center;
  justify-content: space-around; 
  position: relative;
    align-items: center;
    margin: auto;
}

.portfolio{
    text-align: center;
}
.icons{
    align-items: center;
    text-align: center;
    
}

.contact{
    text-align: center;
}
.mouseclick{
    top: 25px;
    left: 25px;
    text-align: center;
    align-items: center;
    background-position: center;
    color: white;
    z-index: 1;
}
.h_image h1{
    text-align: center;
}

h4{
    text-align: center;
}

.images{
    text-align: center;
    align-items: center;
}
#servicesoverlay{
    background-image: url("../images/s_image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.textoverlay{
    background-image: url("../images/h_img.jpg");
    position: relative;
    height: 60vh;
    width: 100%;
}
h1{
    text-align: center;
    color: white;
}
.paragraph{
    text-align: center;
    color: white;
}

.contact{
    background-image: url("../images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.email{
    text-align: center;
}

.name{
    text-align:center;
    color: black;
}

footer{
    text-align: center;
}
h7{
    font-weight: bold;
}
