.about{
    text-align: center;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.services{
    text-align: center;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.portfolio img{
    text-align: center;
  -ms-grid-column-align: center;
  justify-content: space-around; 
  position: relative;
    align-items: center;
    margin: auto;
}

.portfolio{
    text-align: center;
}
.icons{
    align-items: center;
    text-align: center;
    
}

.contact{
    text-align: center;
}
.mouseclick{
    top: 25px;
    left: 25px;
    text-align: center;
    align-items: center;
    background-position: center;
    color: white;
    z-index: 1;
}
.h_image h1{
    text-align: center;
}

h4{
    text-align: center;
}

.images{
    text-align: center;
    align-items: center;
}
#servicesoverlay{
    background-image: url("../images/s_image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.textoverlay{
    background-image: url("../images/h_img.jpg");
    position: relative;
    height: 60vh;
    width: 100%;
}
h1{
    text-align: center;
    color: white;
}
.paragraph{
    text-align: center;
    color: white;
}

.contact{
    background-image: url("../images/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
.email{
    text-align: center;
}

.name{
    text-align:center;
    color: black;
}

footer{
    text-align: center;
}
h7{
    font-weight: bold;
}
h5{
    font-weight: bold;
}
.logo{
    text-align: center;
}
.mouse{
    text-align: center;
}

h6{
    font-weight: bold;
    color: white;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
  }
  
  h2{
    font-weight:bolder;
  }
  #port4 {
    opacity: 1;
    filter: blur(opacity=50); 
  }
  #port4:hover {
    opacity: 0.5;
    filter: blur(opacity=100); 
  }

  #port3 {
    opacity: 1;
    filter: blur(opacity=50);
  }
  
  #port3:hover{
    opacity: 0.5;
    filter: blur(opacity=100);
  }

  #port2{
    opacity: 1;
    filter: blur(opacity=50);
  }
  #port2:hover{
    opacity: 0.5;
    filter: blur(opacity=100);
  }
  
  #port1{
    opacity: 1;
    filter: blur(opacity=50);
  }
  #port1:hover {
    opacity: 0.5;
    filter: blur(opacity=100);
  }

  
  #port5{
    opacity: 1;
    filter: blur(opacity=50);
  }
  #port5:hover{
    opacity: 0.5;
    filter: blur(opacity=100);
  }
  #port6{
    opacity: 1;
    filter: blur(opacity=50);
  }
  #port6:hover{
    opacity: 0.5;
    filter: blur(opacity=100);
  }
  #port7{
    opacity: 1;
    filter: blur(opacity=50);
  }
  #port7:hover{
    opacity: 0.5;
    filter: blur(opacity100);
  }
  #port8{
    opacity: 1;
    filter: blur(opacity=50);
  }
  #port8:hover{
    opacity: 0.5;
    filter: blur(opacity=100);
  }
  .mouse{
    text-align: center;
    align-items: center;
  }
  #mouse_click{
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
  }

h6{
  font-weight: 900;
  
}

h9{
  text-align: center;
}
#form{
  color: black;
}